# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal

# Migrations (опционально)
# */migrations/*
# !*/migrations/__init__.py

# Environment variables
.env
.env.*

# Static & Media
staticfiles/
media/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# PyCharm
*.iml